---
import { Picture } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
---

<li
  class={`${post.data.cover ? "" : "hover:-mx-2 hover:px-2 focus-within:-mx-2 focus-within:px-2"} group mt-4 rounded-sm focus-within:bg-mutedBackground focus-within:text-mutedText hover:bg-mutedBackground hover:text-mutedText`}
>
  <!-- TODO: fix focus https://github.com/mozilla/standards-positions/issues/772  -->
  <!-- originally the grid was on the li and the a was display:contents -->
  <!-- https://codepen.io/leaverou/pen/oROLQm  -->
  <!-- https://hidde.blog/more-accessible-markup-with-display-contents/ -->
  <a href={`/blog/${post.slug}`} class="grid grid-cols-[20ex_1fr] gap-8">
    {
      post.data.cover && (
        <Picture
          src={post.data.cover}
          alt={post.data.coverAlt ?? ""}
          width={post.data.cover.width / 4}
          densities={[1.5, 2]}
          formats={["avif", "webp"]}
          class="aspect-square h-full object-cover"
          transition:name={`${post.slug}-image`}
        />
      )
    }
    <div class={`my-2 ${post.data.cover ? "" : "col-span-full"}`}>
      <time
        datetime={post.data.date.toISOString()}
        class="block text-sm uppercase leading-tight tracking-wider text-mutedTextBg"
      >
        {
          new Intl.DateTimeFormat("en-US", {
            day: "numeric",
            month: "long",
            year: "numeric",
            timeZone: "UTC",
          }).format(post.data.date)
        }
      </time>
      <h2
        transition:name={`${post.slug}-title`}
        class="text-xl font-bold text-text group-hover:underline"
      >
        {post.data.title}
      </h2>
    </div>
  </a>
</li>
